In [1]:
import pandas as pd
import numpy as np

In [2]:
cleared_lines = []
with open('logs.txt') as f:
    for line in f.readlines():
        cleared_line = " ".join(line.replace('|','').split()).split()
        cleared_line[6] = cleared_line[6].replace('https://all_to_the_bottom.com/', '')
        if cleared_line[6] == '':
            cleared_line[6] = 'index'
        cleared_line[1] = cleared_line[1] + ' ' + cleared_line[2]
        cleared_lines.append(cleared_line)

df = pd.DataFrame(cleared_lines, columns=[0, 'date', 'time', 'id', 4, 'ip', 'action']).drop([0, 4], axis=1)
df = df.replace('', np.nan).dropna()
df.reset_index(drop=True, inplace=True)

In [3]:
df

,date,time,id,ip,action
0,2018-08-01 00:01:35,00:01:35,[YQ4WUDJV],121.165.118.201,index
1,2018-08-01 00:01:47,00:01:47,[E522JAEQ],121.165.118.201,fresh_fish/
2,2018-08-01 00:03:02,00:03:02,[BHWP66G8],121.165.118.201,index
3,2018-08-01 00:04:27,00:04:27,[C0182Y6W],121.165.118.201,canned_food/
4,2018-08-01 00:05:55,00:05:55,[OJKTKNP6],121.165.118.201,index
...,...,...,...,...,...
24279,2018-08-14 09:52:25,09:52:25,[9SDDN7VV],147.144.255.18,index
24280,2018-08-14 09:53:06,09:53:06,[PANSGPA1],147.144.255.18,canned_food/
24281,2018-08-14 09:53:56,09:53:56,[QBV4IHFK],147.144.255.18,canned_food/pate_of_tuna/
24282,2018-08-14 09:53:56,09:53:56,[ZLZ4QXWB],147.144.255.18,pay?user_id=81416246280&cart_id=9790
24283,2018-08-14 09:53:56,09:53:56,[2O1CTP7M],147.144.255.18,success_pay_9790/

In [4]:
# df.
# for i, item in enumerate(df.action):
#     if item.count('/') == 1:
#         print(item.split('/'), i)
#     if item.count('/') == 2:
#         print(item.split('/'), i)

In [5]:
# def split(item):
#     return item.split('/')

In [6]:
# df['tovar'] = np.nan
# df

In [7]:
import sqlite3

conn = sqlite3.connect("database")
cursor = conn.cursor()

cursor.execute("""DROP TABLE IF EXISTS Users""")
cursor.execute("""DROP TABLE IF EXISTS Actions""")
cursor.execute("""DROP TABLE IF EXISTS Transasction""")
cursor.execute("""DROP TABLE IF EXISTS Categories""")
cursor.execute("""DROP TABLE IF EXISTS Products""")

cursor.execute("""CREATE TABLE IF NOT EXISTS Users (
                    id INTEGER PRIMARY KEY AUTOINCREMENT UNIQUE NOT NULL,
                    ip TEXT NOT NULL UNIQUE,
                    country TEXT
                    );
               """)
cursor.execute("""CREATE TABLE IF NOT EXISTS Actions (
                    id INTEGER PRIMARY KEY AUTOINCREMENT UNIQUE NOT NULL,
                    path TEXT NOT NULL,
                    path2 TEXT
                    );
               """)
cursor.execute("""CREATE TABLE IF NOT EXISTS Transasction (
                    id	INTEGER PRIMARY KEY AUTOINCREMENT UNIQUE NOT NULL,
                    ip TEXT NOT NULL UNIQUE
                    );
               """)
# cursor.execute("""CREATE TABLE IF NOT EXISTS Categories (
#                     id	INTEGER PRIMARY KEY AUTOINCREMENT UNIQUE NOT NULL,
#                     name TEXT NOT NULL UNIQUE
#                     );
#                """)
cursor.execute("""CREATE TABLE IF NOT EXISTS Products (
                    id	INTEGER PRIMARY KEY AUTOINCREMENT UNIQUE NOT NULL,
                    name TEXT NOT NULL UNIQUE
                    );
               """)
               

# cursor.execute("""INSERT INTO Users (ip) 
#                     VALUES ('32.81.190.');
#                """)

# cursor.execute("""SELECT * FROM Users""")


data = cursor.fetchall()
conn.close()

In [8]:
data

[]